<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To do list</title>
</head>
<body>

    <div class="box" id="heading">
    <!-- <% if(kindOfDay === "Friday") {%> 
    <h1 style="color: blue;">It's a <%= kindOfDay %> !</h1>
    <% }else {%>
    <h1 style="color: red;">It's a <%= kindOfDay %> !</h1>
    <% } %>  -->

    <h1><%= kindOfDay %></h1>
    </div>
    
    <div class="box">
        <% for(var i=0;i<newListItem.length;i++) {%>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=newListItem[i]._id%>" onChange="this.form.submit()" >
                    <p><%= newListItem[i].itemName %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= kindOfDay%>">
            </form>     
            </form>
        <% } %>     
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="new Item" autocomplete="off">
            <button type="submit" name="button" value="<%= kindOfDay%>">+</button>
        </form>    
    </div>
<footer>
    <h2 style="border: 50px;">&copy Made with ❤ by Lovish</h2>
</footer>
</body>
</html>